@import "tailwindcss";

:root {
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-momo), serif;
}

p {
  font-family: var(--font-lexend), sans-serif;
}
